<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">
            Realizar Reserva
          </h2>
        </div>
        <div class="card-body">
          <form class="was-validated">
            <div class="form-group">
              <label class="form-col-form-label" for="fecha">
                <strong>
                  Fecha de Reserva
                </strong>
              </label>
              <input type="date" class="form-control" id="fecha" name="fecha" [min]="fechaActual" [(ngModel)]="fecha" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of servicio">
                  <td>{{obj.Name}}</td>
                  <td>s/. {{obj.Monto}}.00</td>
                  <td>
                    <button (click)="reservar(obj.id, fecha)" type="button" class="btn btn-pill btn-block btn-info">
                      Reservar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
