<div class="animated fadeIn">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <strong>
            Crear
          </strong>
          <code>
             Masajista
          </code>
        </div>
        <div class="card-body">
          <form id="formNewCliente" class="was-validated" name="formNewCliente">
            <div class="form-group">
              <label class="form-col-form-label" for="Fullname">
                <strong>
                  Apellidos y Nombres
                </strong>
              </label>
              <input type="text" class="form-control" id="Fullname" name="Fullname" [(ngModel)]="masajista.Fullname" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <div class="form-group">
              <label class="form-col-form-label" for="Genero">
                <strong>
                  Genero
                </strong>
              </label>
              <input type="text" class="form-control" id="Genero" name="Genero" [(ngModel)]="masajista.Genero" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <div class="form-group">
              <label class="form-col-form-label" for="Celular">
                <strong>
                  Celular
                </strong>
              </label>
              <input type="text" class="form-control" id="Celular" name="Celular" [(ngModel)]="masajista.Celular" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <div class="form-group">
              <label class="form-col-form-label" for="Email">
                <strong>
                  Correo
                </strong>
              </label>
              <input type="email" class="form-control" id="Email" name="Email" [(ngModel)]="masajista.Email" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <div class="form-group">
              <label class="form-col-form-label" for="Contrasena">
                <strong>
                  Password
                </strong>
              </label>
              <input type="password" class="form-control" id="Contrasena" name="Contrasena" [(ngModel)]="masajista.Password" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <div class="form-group">
              <label class="form-col-form-label" for="ImagenMasajista">
                <strong>
                  Imagen Masajista
                </strong>
              </label>
              <input type="password" class="form-control" id="ImagenMasajista" name="ImagenMasajista" [(ngModel)]="masajista.ImagenMasajista" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <div class="form-group">
              <label class="form-col-form-label" for="Facebook">
                <strong>
                  Facebook
                </strong>
              </label>
              <input type="password" class="form-control" id="Facebook" name="Facebook" [(ngModel)]="masajista.Facebook" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <div class="form-group">
              <label class="form-col-form-label" for="Instagram">
                <strong>
                  Instagram
                </strong>
              </label>
              <input type="password" class="form-control" id="Instagram" name="Instagram" [(ngModel)]="masajista.Instagram" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <div class="form-group">
              <label class="form-col-form-label" for="Twitter">
                <strong>
                  Twitter
                </strong>
              </label>
              <input type="password" class="form-control" id="Twitter" name="Twitter" [(ngModel)]="masajista.Twitter" required>
              <div class="valid-feedback">
                Campo rellenado.
              </div>
              <div class="invalid-feedback">
                Por favor rellene el campo.
              </div>
            </div>
            <div>
              <button type="submit" class="btn btn-outline-success btn-lg btn-block btn-pill" (click)="saveMasajista()">
                Crear
              </button>
            </div>
          </form>
        </div>
      </div>
    </div><!--/.col-->
  </div>
</div>

>
